{% extends "base.html" %}

{% block title %}Passwort vergessen{% endblock %}

{% block body %}

    <h1>Passwort vergessen</h1>

    <form method="post" action="/Password/request-reset" id="formPasswordForgot">

        <div class="form-group">
            <label for="inputEmail">E-Mail-Adresse</label>
            <input type="email" id="inputEmail" name="email" autocomplete="new-email" placeholder="E-mail-Adresse" value="{{ email }}" autofocus class="form-control" required>
        </div>

        <div class="form-group">
            <input type="submit" value="Eingaben bestätigen" class=" btn btn-success">
        </div>

    </form>

{% endblock %}




