{% extends "base.html" %}

{% block title %}Parkplatzfreigabe{% endblock %}

{% block body %}

    <h1>Parkplatzfreigabe</h1>
 
    {% if share.errors is not empty %}

        <p>Fehlermeldungen:</p>
        <ul>
            {% for error in share.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <hr>  
    {% endif %}


   
    
    <form method="post" action="/parking/{{contract.contract_id}}/calculate-share" id="formParkingCalculateShare">

        <div class="form-group">
            <label for="inputStartDate">Startdatum</label>
            <input type="text" id="inputStartDate" name="start_date"  placeholder="Startdatum" value="{{ share.start_date }}" class="form-control">
        </div>

        <div class="form-group">
            <label for="inputEndDate">Enddatum</label>
            <input type="text" id="inputEndDate" name="end_date" placeholder="Enddatum" value="{{ share.end_date }}" class="form-control">
        </div>

        <input type="hidden" name="contract_id" value="{{contract.contract_id}}">

        <div class="form-group">
            <input type="submit" value="Gutschrift berechnen" class=" btn btn-success">
        </div>
    </form>
    {% if share.credit_item %}  


    <hr>
    <h5>Für den ausgewählten Zeitraum von {{share.amount_days}} Tagen werden Ihnen  {{share.credit_item}} € gutgeschrieben.</h5>
 


    <form method="post" action="/parking/{{contract.contract_id}}/confirm-share" id="formParkingCreateShare">

        <input type="hidden" name="contract_id" value="{{contract.contract_id}}">
        <input type="hidden" name="start_date" value="{{ share.start_date }}">
        <input type="hidden" name="end_date" value="{{ share.end_date }}">
        <input type="hidden" name="amount_days" value="{{ share.amount_days }}">
        <input type="hidden" name="credit_item" value="{{ share.credit_item }}">
       
        <div class="form-group">
            <input type="submit" value="Freigabe erstellen" class=" btn btn-warning">
        </div>

    </form>
    <hr>
    {% endif%}
    <a href="/parking/show">Zurück</a>
   



  
    {% if shares %}
        <hr>
        <h4>Freigaben</h4>
        <table class="table table-striped">

            <thead>
                <tr>
                <th scope="col">Startdatum</th>
                <th scope="col">Enddatum</th>
                <th scope="col">Gutschrift</th>
                <th scope="col">Funktionen</th>
                </tr>
            </thead>

            <tbody>

                {% for share in shares %}
    
                  <tr>
                    <td>{{share.start_date}}</td>
                    <td>{{share.end_date}}</td>
                    <td>Betrag X in €</td>
                    <td>
                        {% if share.is_active %}
                            Aktiv
                        {% else %}
                            <a href="/parking/{{contract.contract_id}}/cancel-share/{{share.share_id}}">Stornieren</a>
                        {% endif %}
                    </td>

                    </td>
                  </tr>
             
                {% endfor %}
            
            </tbody>

        </table>

    {% endif %}

{% endblock %}