{% extends "base.html" %}

{% block title %}Vertragsanfrage{% endblock %}

{% block body %}

    <h1>Vertragsanfragen</h1>

    {% if requests %}

        <table class="table table-striped">

            <thead>
                <tr>
                <th scope="col">Vertragsnummer</th>
                <th scope="col">RFID-Schlüssel</th>
                <th scope="col">Erstellt am</th>
                <th scope="col">Funktionen</th>
                </tr>
            </thead>

            <tbody>

                {% for request in requests %}
    
                  <tr>
                    <td>{{request.contract_id}}</td>
                    <td>{{request.rfid_id}}</td>
                    <td>{{request.created_at | date("d.m.Y")}}</td>
                    <td>
                        {% if request.related_contract %}
                        <a href="/contract/edit/{{request.related_contract}}">Zum Vertrag</a> 
                        {% else %}
                            <a href="/contractrequest/show-details/{{request.id}}">Details einsehen</a> 
                        {% endif %}
                    </td>
                  </tr>
             
                {% endfor %}
            
            </tbody>

        </table>

    {% else %}

        <p>Keine Ausstehenden Anfragen</p>

    {% endif %}

{% endblock %}