{% extends "base.html" %}

{% block title %}Parkplatz Anfrage{% endblock %}

{% block body %}

    <h1>Parkplatz Anfrage</h1>
    <p>Fügen Sie Ihren Parkplatz über Angabe der Vertragsdaten Ihrem Nutzerkonto hinzu.</p>

    {% if request.errors is not empty %}
        <p>Fehlermeldungen:</p>
        <ul>
            {% for error in request.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="/parkingrequest/create" id="formParkingRequest">

        <div class="form-group">
            <label for="inputContractId">Vertragsnummer</label>
            <input type="number" id="inputContractId" name="contract_id"  placeholder="Vertragsnummer" value="{{ request.contract_id }}" class="form-control">
        </div>

        <div class="form-group">
            <label for="InputRfidId">RFID-Schlüssel-Nummer</label>
            <input type="number" id="InputRfidId" name="rfid_id" placeholder="RFID-Schlüssel-Nummer" value="{{ request.rfid_id}}" class="form-control">
        </div>

        <div class="form-group">
            <input type="submit" value="Eingaben bestätigen" class=" btn btn-success">
        </div>
        <a href="/">Zurück</a>

    </form>

  

 

    {% if requests %}
        <hr>
        <h2>Gestellt</h2>
        <table class="table table-striped">

            <thead>
                <tr>
                <th scope="col">Vertragsnummer</th>
                <th scope="col">RFID-Schlüssel</th>
                <th scope="col">Gestellt am</th>
                <th scope="col">Status</th>
                <th scope="col">Funktionen</th>
                </tr>
            </thead>

            <tbody>

                {% for request in requests %}
    
                  <tr>
                    <td>{{request.contract_id}}</td>
                    <td>{{request.rfid_id}}</td>
                    <td>{{request.created_at | date("d.m.Y")}}</td>
                    <td>
                        {% if request.related_contract %}
                            Bestätigt
                        {% else %}
                            Ausstehend
                        {% endif %}
                    </td>
                    <td>
                        {% if request.related_contract %}
                            <a href="/parking/show-details/{{request.related_contract}}">Zum Parkplatz</a>
                        {% else %}
                            <a href="/parkingrequest/delete/{{request.id}}">Zurückziehen</a>
                        {% endif %}
                    </td>
                  </tr>
             
                {% endfor %}
            
            </tbody>

        </table>

    {% endif %}

{% endblock %}