{% extends "base.html" %}

{% block title %}Mitarbeiter Verwaltung{% endblock %}

{% block body %}

    <h1>Mitarbeiter Verwaltung</h1>

    <a href="/employeeadministrator/show-signup">Neuen Mitarbeiter anlegen</a>

    <hr>

    <h2>Alle Mitarbeiter</h2>

    {% if employees %}

        <table class="table table-striped">

            <thead>
                <tr>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">E-mail-Adresse</th>
                <th scope="col">Rolle</th>
                <th scope="col">Funktion</th>
                </tr>
            </thead>

            <tbody>

                {% for employee in employees %}
    
                  <tr>
                    <td>{{employee.first_name}}</td>
                    <td>{{employee.last_name}}</td>
                    <td>{{employee.email}}</td>
                    <td>
                        {% for role in roles %}
                            {% if employee.role_id == role.id %}
                                {{role.name}}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="/employeeadministrator/delete/{{ employee.id }}">Löschen</a>
                    </td>
                  </tr>
             
                {% endfor %}
            
            </tbody>

        </table>

    {% else %}

        <p>Keine Mitarbeiter vorhande</p>

    {% endif %}

{% endblock %}




