{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>Profile</h1>

    <dl class="row mt-3">
        <dt class="col-sm-3">Vorname</dt>
        <dd class="col-sm-9">{{ user.first_name }}</dd>
        <dt class="col-sm-3">Nachname</dt>
        <dd class="col-sm-9">{{ user.last_name }}</dd>
        <dt class="col-sm-3">E-mail-Adresse</dt>
        <dd class="col-sm-9">{{ user.email }}</dd>
    </dl>

    <a href="/Profile/edit" class="btn btn-secondary">Bearbeiten</a>

{% endblock %}